.header-content {
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(assets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: center;
}

.search-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.search-btn {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: transparent;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.library {
    justify-content: space-evenly;
    min-width: 300px;
}

.ref {
    border: 1px solid black;
    min-width: 80vh;
    margin-top: 5%;
}
